* {
    box-sizing: border-box;
    // margin: 0;
}

img {
    max-width: 100%;
}

h1{
    margin: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: $navy950;
    color: $white;

    font-family: $rubik;
    font-size: 1.125rem;
}

main {
    display: grid;
    width: 87.2%;
    margin: 5rem auto;
}

.report {
    background-color: $navy900;
    // padding: 1.5rem;
    margin-block-end: 1.5rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;

    .category {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        width: 100%;
        
        img {
            // transform: scale(0.1);
            width: 10%;
            height: 10%;
        }
    }

    .daily {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.5rem;
    }

    .weekly, .monthly {
        display: none;
    }

    &__title {
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $purple600;
            padding: 1.75rem;
            border-radius: 1rem;


            img {
                width: 25%;
                // height: 25%;
                margin-inline-end: 1rem;
                border: 3px solid $white;
                border-radius: 50%;
            }

            &__text {
                p {
                    font-size: 14px;
                    color: $navy200;
                    margin-block-end: 4px;
                }

                h1 {
                    font-size: 24px;
                    font-weight: $light;
                    color: $white;
                    margin-block-start: 0;
                }
            }
        }

        .period {
            display: flex;
            justify-content: space-between;
            padding: 0.25rem 2rem;
            color: $purple500;

            p {
                cursor: pointer;
                transition: color 200ms ease;

                &:hover {
                    color: $white;
                }
            }


        }
    }


}





















.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}